# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore compiled files
*.exe
*.dll
*.so

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore dependency lock files
yarn.lock
package-lock.json